{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
    <h1>Evènements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ event.slug }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ event.dateStart ? event.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td>{{ event.url }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ event.price }}</td>
            </tr>
            <tr>
                <th>Is_valid</th>
                <td>{{ event.isValid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">retour à la liste des évènements</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
